/* 
    Este arquivo controla a font-family de todo o documento,
    bem como remove a margem default do html.
    Outros utilitários...
*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa&family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Comfortaa', cursive;

}

.break {
    flex-basis: 100%;
}

.arrd {
    font-size: 20px;
    margin-left: 3px
}