/* 
    Esse arquivo controla o dropmenu da versão mobile.
    Faz ele aparecer, coloca animações, etc...
*/

.menudrop-mobile {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: transparent;
    margin-left: -20px;
    margin-top: -43px;
    display: flex;
}

.active {
    visibility: visible !important;
    opacity: 100% !important;
    animation: show-menu-mobile .4s;
}

.disable {
    animation: close-menu-mobile .4s;
}

.top-menu-mobile .menu {
    background: transparent;
    border: 0;
}

.top-menu-mobile .menu:hover {
    background: rgb(14, 14, 14);
    cursor: pointer;
}

.menudrop-content {
    width: 300px;
    height: 100%;
    background: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.outer {
    background: transparent;
    width: calc(100% - 300px);
    height: 100%;
}

.profile-mobile {
    background: black;
    height: 54px;
    display: flex;
}

.profile-mobile img {
    position: absolute;
    width: 50px !important
}


.profile-pic-mobile>a img {
    margin-left: 10px !important;
    margin-top: 3px
}

.profile-pic-mobile {
    width: 50px;
}

.profile-text,
.profile-text * {
    color: white;
    text-decoration: none;
    font-family: 'Roboto Condensed';
    font-family: 'Bebas Neue', cursive;
    font-family: 'Comfortaa', cursive;
}

.profile-text {
    margin: 9px 15px;
}

.profile-text a {
    font-weight: bolder !important;
}

@keyframes show-menu-mobile {
    0% {
        transform: translateX(-200px);
        opacity: 0%;
    }

    110% {
        transform: translateX(0px);
        opacity: 100%;
    }
}

@keyframes close-menu-mobile {
    0% {
        transform: translateX(0px);
        opacity: 100%;
    }

    100% {
        transform: translateX(-200px);
        opacity: 0%;
    }
}

/* Parte de dentro */

.menudrop-mobile-nav,
.mobile-nav-item,
.mobile-nav-item a {
    display: flex;
}

.menudrop-mobile-nav {
    /* background: lime; */
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 0;
}

.mobile-nav-item {
    /* background: pink; */
    list-style: none;
    padding: 0 18px;
    align-items: center;
    border-bottom: .8px solid rgba(14, 14, 14, 0.1);
}

.mobile-nav-item a:nth-child(1) {
    height: 40px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    color: black;

}

.mobile-nav-item a:nth-child(2) {
    /* background: lavender; */
    text-decoration: none;
    padding: 5px;
}