/* 
    Este arquivo controla a estilização da parte inferior do header (menu nav).
    Apenas visivel para desktop (>=1024.11px).
*/

.navigation-button {
    display: flex;
    margin: 0 10px;
    border: 0;
    padding: 21px 21px;
    box-shadow: none;
    align-items: center;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bolder;
}

.navigation-button div{
    margin: 0 auto;
}

.navigation-button:hover {
    transition: .2s;
    background: rgb(14, 14, 14);
    border-radius: 4px;
}

.nav-list li:nth-child(4) .navigation-button {
    width: 135px;
}

.nav-list {
    display: flex;
    list-style: none;
}

@media (max-width: 1024.1px) {

    .navigation-desktop,
    .navigation-desktop * {
        display: none;
        height: 0;
        width: 0;
    }
}

@media (min-width: 1024.11px) {

    .navigation-desktop,
    .header-container-bottom {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navigation-desktop {
        height: 100%;
        width: 100%;
    }
}

/*     transition: all 0.2s cubic-bezier(0.34, 0.57, 0.57, 1) 0s;
 */