.header-comment {
    text-decoration: none;
    text-align: center;
    color: #AAA;
    margin: 0 15px;
}

.header-comment:hover {
    color: rgb(148, 148, 148)
}

.menu-item {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}

.header__menu ul li {
    display: inline-block;
}

.menu-item:hover {
    font-size: 21px;
    transition: .5s;
}

.header__search input {
    border: 1px solid;
    text-align: center;
    font-size: 10px;
}

.header__search button {
    background: black;
    width: 30px;
    height: 30px;
    color: white;
    border-radius: 3px;
    border: 0
}

.menu__icons img {
    width: 50px
}


@media (max-width: 650px) {
    .break {
        flex-basis: 100%;
        height: 0;
    }

}

@media (max-width: 760px) {
    .menu-item {
        margin: 0 5px;
    }
}

@media (min-width: 760.1px) {
    .menu-item {
        margin: 0 15px;
    }
}